<ion-content>
  <div class="container">
    <div class="menu-container">
      <ion-img class="menu-icon" routerLink="/inicio" routerDirection="back" src="/assets/svg/chevron-left-black.svg"></ion-img>
    </div>
    <div class="wrapper">
      <p class="lead">Feriados</p>
      <!-- <div class="scanner-container" (click)="showLoading()">
        <p class="scanner-text">Debes permitir el acceso a la camara para visualizar el scanner.</p>
      </div> -->
      <form [formGroup]="formularioQR" class="formqr">
        <div>
            <p class="label">🗝 Clave API</p>
            <ion-input 
              formControlName="clave" 
              type="text"  
              placeholder="Ingrese su clave API"
              class="custom">
            </ion-input>
            <div *ngIf="formularioQR.get('clave').invalid && 
          formularioQR.get('clave').errors && 
          (formularioQR.get('clave').dirty || formularioQR.get('clave').touched)">
            <p class="text-danger"
            *ngIf="formularioQR.get('clave').hasError('required')">
            ❌  Este campo es requerido.
            </p>
            <p class="text-danger"
            *ngIf="formularioQR.get('clave').hasError('minlength')">
            ❌  La clave debe tener al menos 10 caracteres.
            </p>
            <p class="text-danger"
            *ngIf="formularioQR.get('clave').hasError('pattern')">
            ❌  La clave no puede tener espacios.
            </p>
            </div>
        </div>
        <div>
          <p class="label">👩‍🏫 ID de la Clase</p>
        <ion-input 
          formControlName="codigo" 
          type="text"  
          placeholder="Ingrese el codigo de la clase"
          class="custom">
        </ion-input>
        <div *ngIf="formularioQR.get('codigo').invalid && 
        formularioQR.get('codigo').errors && 
        (formularioQR.get('codigo').dirty || formularioQR.get('codigo').touched)">
          <p class="text-danger"
          *ngIf="formularioQR.get('codigo').hasError('required')">
          ❌  Este campo es requerido.
          </p>
          <p class="text-danger"
          *ngIf="formularioQR.get('codigo').hasError('minlength')">
          ❌  La clave debe tener al menos 6 caracteres.
          </p>
          <p class="text-danger"
          *ngIf="formularioQR.get('codigo').hasError('pattern')">
          ❌  La clave no puede tener espacios.
          </p>
        </div>
        </div>
        <ion-button (click)="showLoading()" [disabled]="!formularioQR.valid" class="btn-primary">
          ✨ Generar
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
