<ion-content>
  <div class="container">
    <div class="menu-container">
      <ion-img class="menu-icon" (click)="toggleMenu()" src="/assets/svg/menu.svg"></ion-img>
    </div>
    <div class="wrapper">
      <div class="top">
        <p class="lead">Hola, {{ nombre }} 👋</p>
      </div>
      <div class="scan-wrapper">
        <div class="info_card" routerLink="/ver-asistencias" style="cursor: pointer">
          <div>
            <div class="flex">
            <p class="today">{{ today | date: 'd MMM, y' }}</p>
            <p class="temp">{{ temp }} °C</p>
            </div>
            <p class="classes_left" *ngIf="tipoUsuario === 'Estudiante'">📅 0 Clases Asistidas</p>
            <p class="classes_left" *ngIf="tipoUsuario === 'Profesor'">📅 0 Clases Registradas</p>
          </div>
        </div>
        <div class="scan" *ngIf="tipoUsuario === 'Estudiante'">
          <!-- <ion-img src="assets/svg/notes.svg" class="notes"></ion-img>
          <p class="strong">Asistencia QR</p>
          <p class="support">Escanea el codigo generado por tu profesor para registrar tu asistencia</p> -->
          <ion-button id="scan-button" routerLink="/scanner" routerDirection="forward" class="btn-primary">
            🔎 Escanear
          </ion-button>
          <!-- <ion-button id="scan-button" routerLink="/ver-asistencias" routerDirection="forward" class="btn-primary">
            🔎 Ver Asistencias
          </ion-button> -->
        </div>
        <div class="scan" *ngIf="tipoUsuario === 'Profesor'">
          <ion-button routerLink="/qr-create" routerDirection="forward" class="btn-primary">
            ✨ Generar
          </ion-button>
          <!-- <ion-button routerLink="/qr-created" routerDirection="forward" class="btn-primary">
            🔎 Codigo Generado
          </ion-button>
          <ion-button id="scan-button" routerLink="/ver-asistencias" routerDirection="forward" class="btn-primary">
            🔎 Ver Asistencias
          </ion-button> -->
        </div>
      </div>
    </div>
  </div>
</ion-content>

