<ion-content no-bounce>
  <div class="container">
    <div class="wrapper">
      <div style="display: flex; cursor: pointer">
        <ion-img  routerLink="/home" routerDirection="back" src="/assets/svg/chevron-left.svg">
        </ion-img>
      </div>
      <div class="top">
        <p class="lead">Crear Cuenta</p>
      </div>
      <form [formGroup]="formularioRegistro">

        <!-- Input Nombre -->
        <p class="label">Nombre</p>
        <ion-input 
          type="text" 
          formControlName="nombre" 
          placeholder="Ingrese su nombre"
          class="custom">
        </ion-input>
        <div *ngIf="formularioRegistro.get('nombre').invalid && 
        formularioRegistro.get('nombre').errors && 
        (formularioRegistro.get('nombre').dirty || formularioRegistro.get('nombre').touched)">
          <p class="text-danger"
          *ngIf="formularioRegistro.get('nombre').hasError('required')">
          ❌ Este campo es requerido.
          </p>
          <p class="text-danger"
          *ngIf="formularioRegistro.get('nombre').hasError('pattern')">
          ❌ El nombre no puede contener numeros ni caracteres especiales.
          </p>
          <p class="text-danger"
          *ngIf="formularioRegistro.get('nombre').hasError('minlength')">
          ❌ El nombre debe tener al menos 3 caracteres.
          </p>
          <p class="text-danger"
          *ngIf="formularioRegistro.get('nombre').hasError('maxlength')">
          ❌ El nombre no puede tener mas de 20 caracteres.
          </p>
        </div>
        <!-- Input Email -->
        <p class="label">Correo</p>
        <ion-input 
          type="email" 
          formControlName="correo" 
          placeholder="Ingrese el correo"
          class="custom">
        </ion-input>
        <div *ngIf="formularioRegistro.get('correo').invalid && 
        formularioRegistro.get('correo').errors && 
        (formularioRegistro.get('correo').dirty || formularioRegistro.get('correo').touched)">
          <p class="text-danger"
          *ngIf="formularioRegistro.get('correo').hasError('required')">
          ❌ Este campo es requerido.
          </p>
          <p class="text-danger"
          *ngIf="formularioRegistro.get('correo').hasError('pattern')">
          ❌ Correo no valido.
          </p>
        </div>
        <!-- Input Contrasena -->
        <p class="label">Contrasena</p>
        <app-show-hide-password>
        <ion-input 
          type="password" 
          formControlName="password" 
          placeholder="Ingrese la contrasena"
          class="custom pass">
        </ion-input>
        </app-show-hide-password>
        <div *ngIf="formularioRegistro.get('password').invalid && 
        formularioRegistro.get('password').errors && 
        (formularioRegistro.get('password').dirty || formularioRegistro.get('password').touched)">
          <p class="text-danger"
          *ngIf="formularioRegistro.get('password').hasError('required')">
          ❌ Este campo es requerido.
          </p>
          <p class="text-danger"
          *ngIf="formularioRegistro.get('password').hasError('minlength')">
          ❌ La contrasena debe tener al menos 6 caracteres.
          </p>
        </div>
        <div class="input-container">
          <p>Tipo de Cuenta</p>
          <ion-list>
            <ion-radio-group value="student"  formControlName="tipo"> 
              <ion-item>
                <ion-label style="font-size: 15px; font-weight: 600">Estudiante</ion-label>
                <ion-radio slot="start" value="Estudiante" color="secondary"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label style="font-size: 15px; font-weight: 600">Profesor</ion-label>
                <ion-radio slot="start" value="Profesor" color="secondary"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </div>
        <ion-button (click)="presentLoading()" color="secondary" expand="block" fill="solid" shape="round">
          Crear Cuenta
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>