<ion-content>
  <div class="container">
    <div class="title-wrapper">
    <ion-text class="ion-text-center" color="light">
      <h1 class="welcome">Bienvenido a RegistrAPP</h1>
    </ion-text>
    <ion-img src="/assets/svg/conference.svg" style="height: 270px"></ion-img>
    </div>
    <div class="action-wrapper">
      <p class="helper-text" style="font-family: 'Plus Jakarta Sans'; font-weight: 600; line-height: 24px">Seleccione una opcion para continuar</p>
      <div class="button-wrapper">
        <ion-button id="register" routerLink="/register" expand="block" color="secondary">
          Crear Cuenta
        </ion-button>
        <ion-button id="login" routerLink="/login" expand="block" fill="outline" color="light">
          Iniciar Sesion
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
