* {
    user-select: none;
  }
  p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  ion-row {
    margin-right: 24px;
    margin-left: 24px;
  }
  ion-button {
    font-weight: 600;
    font-size: 14px;
  }
  .menu-container {
    display: flex;
  }
  .menu-icon {
    cursor: pointer;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .top {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: 48px;
  }
  .lead {
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    text-transform: capitalize;
  }
  p.lead {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
  }
  .profile {
    width: 48px;
    height: 48px;
    background: #E5E5E5;
    border-radius: 32px;
    border: 1px solid #fff;
    cursor: pointer;
  }
  .info_card {
    background: white;
    padding: 24px;
    gap: 8px;
    border-radius: 16px;
    box-shadow: 0px 3px 10px #E5E5E5;
  }
  .flex {
    display: flex;
    justify-content: space-between;
  }
  .today, .temp {
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    color: #92949C;
  }
  .notes {
    height: 200px;
  }
  .classes_left {
  
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
  }
  .sublead {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
  }
  .class_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .class_card {
    background-color: #F4F4F7;
    padding: 16px 20px;
    border-radius: 16px;
  }
  .class_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .status_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }
  .status_container .status {
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    color: #12D696;
  }
  .status_container .status_icon, .status_icon_not_started {
    height: 8px;
    width: 8px;
    background: #12D696;
    border-radius: 32px;
  }
  .class_details .time {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #92949C;
  }
  .subject {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #26282A;
  }
  .btn-primary {
    width: 100%;
    --background: linear-gradient(180deg, #F48742 0%, #F56087 100%);
  }
  .btn-secondary {
    width: 100%;
    --background: #fff;
    border: 1px solid #F48742;
    --color: #F48742;
  }
  .class_wrapper {
    height: 200px;
  }
  .status_icon_not_started {
    background: #92949C !important;
  }
  .not-started {
    color: #92949C !important;
  }
  .class-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .class-card {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
    background: #FFFFFF;
    box-shadow: 0px 3px 10px #E5E5E5;
    border-radius: 16px;
  }
  .description {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #92949C;
  }
  .class-name {
    font-weight: 600;
    line-height: 32px;
    color: #26282A;
  }
  .scan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .strong {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
  }
  .support {
    font-weight: 600;
    font-size: 14px;
    line-height: 22.4px;
    text-align: center;
    color: #92949C;
  }


  ion-input.custom {
    --background: white;
    --placeholder-color: #ddd;
    --placeholder-opacity: .8;
  
    --padding-bottom: 15px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 15px;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 8px;
    
    outline: 2px solid #CACACA;
  }
  ion-input.custom.pass {
    border-radius: 8px 0px 0px 8px;
  }
  .menu-container {
    display: flex;
  }
  .menu-icon {
    cursor: pointer;
  }
  .has-focus {
    outline: 2px solid #5b9bd1 !important;
  }
  .label {
    font-size: 1.1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
  }
  .text-danger {
    color: #FF4757;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
  }
  .in-container {
    margin-bottom: 16px;
  }
  .lead {
    display: flex;
    height: 48px;
    align-items: center;
    font-size: 1.2rem;
    line-height: 24px;
    font-weight: 700;
  }