<ion-content>
  <div class="container">
    <div class="menu-container">
      <ion-img class="menu-icon" routerLink="/inicio" routerDirection="back" src="/assets/svg/chevron-left-black.svg"></ion-img>
    </div>
    <div class="wrapper">
      <p class="lead">Generar QR</p>
      <!-- <div class="scanner-container" (click)="showLoading()">
        <p class="scanner-text">Debes permitir el acceso a la camara para visualizar el scanner.</p>
      </div> -->
      <form [formGroup]="formularioQR" class="formqr">
        <div class="in-container">
            <p class="label">👩‍🏫 Modulo</p>
            <ion-input 
              formControlName="modulo" 
              type="text"  
              placeholder="Ingrese el modulo de la clase"
              class="custom"
              [(ngModel)]="newAsistencia.modulo">
            </ion-input>
            <div *ngIf="formularioQR.get('modulo').invalid && 
          formularioQR.get('modulo').errors && 
          (formularioQR.get('modulo').dirty || formularioQR.get('modulo').touched)">
            <p class="text-danger"
            *ngIf="formularioQR.get('modulo').hasError('required')">
            ❌  Este campo es requerido.
            </p>
            <p class="text-danger"
            *ngIf="formularioQR.get('modulo').hasError('pattern')">
            ❌  El modulo debe contener 7 caracteres y ningun espacio.
            </p>
            </div>
        </div>
        <div class="in-container">
          <p class="label">👩‍🏫 Seccion</p>
          <ion-input 
            formControlName="seccion" 
            type="text"  
            placeholder="Ingrese la seccion de la clase"
            class="custom"
            [(ngModel)]="newAsistencia.seccion">
          </ion-input>
          <div *ngIf="formularioQR.get('seccion').invalid && 
          formularioQR.get('seccion').errors && 
          (formularioQR.get('seccion').dirty || formularioQR.get('seccion').touched)">
            <p class="text-danger"
            *ngIf="formularioQR.get('seccion').hasError('required')">
            ❌  Este campo es requerido.
            </p>
            <p class="text-danger"
            *ngIf="formularioQR.get('seccion').hasError('pattern')">
            ❌  El modulo debe contener 4 caracteres y ningun espacio.
            </p>
          </div>
        </div>
        <div class="in-container">
          <p class="label">📅 Fecha</p>
          <ion-input 
            formControlName="fecha" 
            type="text"  
            placeholder="Ingrese la fecha de la clase"
            class="custom"
            [(ngModel)]="newAsistencia.fecha">
          </ion-input>
          <div *ngIf="formularioQR.get('fecha').invalid && 
          formularioQR.get('fecha').errors && 
          (formularioQR.get('fecha').dirty || formularioQR.get('fecha').touched)">
            <p class="text-danger"
            *ngIf="formularioQR.get('fecha').hasError('required')">
            ❌  Este campo es requerido.
            </p>
            <p class="text-danger"
            *ngIf="formularioQR.get('fecha').hasError('pattern')">
            ❌  La fecha no es valida.
            </p>
          </div>
        </div>
        <ion-button (click)="showLoading()" [disabled]="!formularioQR.valid" class="btn-primary">
          ✨ Generar
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>
