// .active-link {
//   font-weight: 700 !important;
//   color: var(--ion-text-color);
// }
// ion-label {
//   font-weight: 400 !important;
//   --color: var(--ion-color-medium) !important;
// }

// ion-toolbar {
//   --background: linear-gradient(180deg, #F48742 0%, #F56087 100%);
//   --color: white;
// }
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 32px;
  width: 100%;
}
.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-right: 32px;
  padding-left: 32px;
}
.profile__pic {
  height: 50px;
  width: 50px;
  outline: 2px solid #F4F4F7;
  border-radius: 50%;
}
.profile__name {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 32px;
}
.profile__type {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 22px;
  background: linear-gradient(180deg, #F48742 -103.75%, #F56087 201.67%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.ruler {
  width: 100%;
  height: 2px;
  background: #F4F4F7;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-right: 32px;
  padding-left: 32px;
}
.page-card-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 16px 16px;
  border-radius: 16px;
}
.page__name {
  font-size: 1rem;
  font-weight: 700;
  line-height: 26px;
}
.active-link {
  background: #F4F4F7;
}
a {
  color: var(--ion-text-color);
  text-decoration: none;
}